<template>
  <div class="popup-container">
    <a
      href="#"
      class="btn-config"
      @click.prevent="showOptionsPage"
    ><i class="fa fa-cog" /></a>
    <div class="mb-4">
      <logo-title />
    </div>
    <div v-if="true === hasInit">
      <div v-if="true === showAccessTokenForm">
        <access-token-form />
      </div>
      <div
        v-else
        class="text-center"
      >
        <p style="font-size: .8rem">
          Token has been set with <a
            :href="authDomain"
            target="_blank"
          >{{ authDomain }}</a>.
        </p>

        <gitlab-stat class="mt-2 text-left" />

        <div class="text-left mt-3">
          <label
            for="sel-project"
          >Project: </label>

          <v-select
            id="sel-project"
            v-model="selectedProject"
            :options="projects"
            label="name_with_namespace"
          />
        </div>

        <div
          v-if="showProjectStat"
          class="card mt-2"
        >
          <div class="card-body">
            <div v-if="false === isAtlassianDomain || null === selectedJiraIssueNumber">
              <div class="mb-2">
                <project-stat :project="selectedProject" />
              </div>
              <hr>
            </div>
            <div>
              <div v-if="false === isAtlassianDomain || null === selectedJiraIssueNumber">
                <p class="msg-url-mismatched">
                  Please navigate to a Jira issue to utilise integration features.
                </p>
              </div>
              <template v-else>
                <div>
                  <jira-actions
                    :project="selectedProject"
                    :jira-issue-number="selectedJiraIssueNumber"
                  />
                </div>
                <hr>
                <div class="mt-3">
                  <jira-stat
                    :project="selectedProject"
                    :jira-issue-number="selectedJiraIssueNumber"
                  />
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loading :value="loadingVisible" />
  </div>
</template>

<script>

import LogoTitle from '../components/LogoTitle';
import Loading from '../components/Loading';
import AccessTokenForm from '../components/AccessTokenForm';
import GitlabStat from '../components/GitlabStat';
import ProjectStat from '../components/ProjectStat';
import JiraActions from '../components/JiraActions';
import JiraStat from '../components/JiraStat';
import VSelect from 'vue-select';
import { GITLAB } from '../store/action-types';
import { STORAGE_KEY } from '../helpers/constants';

export default {
  components: {
    LogoTitle,
    Loading,
    AccessTokenForm,
    GitlabStat,
    ProjectStat,
    JiraActions,
    JiraStat,
    VSelect,
  },
  data () {
    return {
      hasInit: false,
      selectedProject: null,
      currentTab: null,
    };
  },
  computed: {
    loadingVisible () {
      return this.$store.getters['gui/loadingVisible'];
    },
    authDomain () {
      return this.$store.getters['gitlab/domain'];
    },
    authToken () {
      return this.$store.getters['gitlab/token'];
    },
    showAccessTokenForm () {
      return null === this.authDomain ||
          typeof this.authDomain === 'undefined' ||
          null === this.authToken ||
          typeof this.authToken === 'undefined';
    },
    projects () {
      return this.$store.getters['gitlab/projects'];
    },
    showProjectStat () {
      return this.projects.length > 0 && null !== this.selectedProject && true === this.hasInit;
    },
    currentTabUrl () {
      return null !== this.currentTab ? this.currentTab.url : null;
    },
    isAtlassianDomain () {
      return null !== this.currentTabUrl && this.currentTabUrl.indexOf('.atlassian.net') > -1;
    },
    isBoardPage () {
      return null !== this.currentTabUrl &&
          (this.currentTabUrl.indexOf('secure/RapidBoard') > -1 ||
              this.currentTabUrl.indexOf('jira/software/projects') > -1);
    },
    isIssueListPage () {
      return null !== this.currentTabUrl && this.currentTabUrl.indexOf('/browse/') > -1;
    },
    isIssueDetailsPage () {
      return null !== this.currentTabUrl && this.currentTabUrl.indexOf('/issues/') > -1;
    },
    urlObject () {
      return null !== this.currentTabUrl ? new URL(this.currentTabUrl) : null;
    },
    urlPaths () {
      if (null !== this.urlObject) {
        return this.urlObject.pathname.split('/');
      }

      return null;
    },
    selectedJiraIssueNumber () {
      if (true === this.isAtlassianDomain) {
        if (this.isBoardPage) {
          return this.urlObject.searchParams.get('selectedIssue');
        }
        if ((this.isIssueListPage || this.isIssueDetailsPage) && null !== this.urlPaths) {
          return this.urlPaths[this.urlPaths.length - 1];
        }
      }

      return null;
    },
  },
  watch: {
    projects () {
      this.loadSelectedProject();
    },
    selectedProject () {
      this.storeSelectedProject();
    },
  },
  mounted () {
    this.setCurrentTab();
    this.loadAuthentication().then(() => {
      this.loadSelectedProject();
    });
  },
  methods: {
    async loadAuthentication () {
      await this.$store.dispatch(GITLAB.AUTH.LOAD_AUTH);
      this.hasInit = true;
    },
    showOptionsPage () {
      chrome.tabs.create({ 'url': '/options/options.html' });
    },
    storeSelectedProject () {
      chrome.storage.sync.set({
        [STORAGE_KEY.SELECTED_PROJECT]: this.selectedProject,
      });
    },
    loadSelectedProject () {
      chrome.storage.sync.get([STORAGE_KEY.SELECTED_PROJECT], data => {
        this.selectedProject = data[STORAGE_KEY.SELECTED_PROJECT] ?? null;
      });
    },
    setCurrentTab () {
      chrome.tabs.query({ active: true, currentWindow: true }, (tabs) => {
        this.currentTab = tabs[0];
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.popup-container {
  width: 300px;
  padding: 15px;

  .btn-config {
    color: gray;
    outline: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.2rem;
  }

  .msg-url-mismatched {
    font-size: .8rem;
  }
}
</style>
