<template>
  <div>
    <logo-title />
    <div class="container mt-5">
      <div class="row">
        <div class="offset-lg-2 offset-md-1 col-lg-8 col-md-10">
          <div class="card">
            <div class="card-body">
              <h5>
                Authentication
              </h5>
              <hr>
              <div v-if="true === hasInit">
                <div v-if="true === showAccessTokenForm">
                  <access-token-form />
                </div>
                <div v-else>
                  <p>
                    Token has been set with <a
                      :href="authDomain"
                      target="_blank"
                    >{{ authDomain }}</a>.
                  </p>
                  <div>
                    <button
                      class="btn btn-danger btn-sm"
                      @click="resetAuthentication"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-if="true === hasInit && false === showAccessTokenForm">
            <div class="card mt-5">
              <div class="card-body">
                <gitlab-stat />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loading :value="loadingVisible" />
  </div>
</template>

<script>
import LogoTitle from "../components/LogoTitle";
import AccessTokenForm from "../components/AccessTokenForm";
import GitlabStat from "../components/GitlabStat";
import Loading from "../components/Loading";
import { GITLAB, GUI } from "../store/action-types";

export default {
  components: {
    LogoTitle,
    AccessTokenForm,
    GitlabStat,
    Loading
  },
  data () {
    return {
      hasInit: false,
      github: {
        projects: null
      }
    }
  },
  computed: {
    loadingVisible () {
      return this.$store.getters['gui/loadingVisible']
    },
    authDomain () {
      return this.$store.getters['gitlab/domain']
    },
    authToken () {
      return this.$store.getters['gitlab/token']
    },
    showAccessTokenForm () {
      return null === this.authDomain ||
        typeof this.authDomain === 'undefined' ||
        null === this.authToken ||
        typeof this.authToken === 'undefined'
    }
  },
  mounted () {
    this.loadAuthentication()
  },
  methods: {
    loadAuthentication () {
      this.$store.dispatch(GITLAB.AUTH.LOAD_AUTH).then(() => {
        this.hasInit = true;
      })
    },
    resetAuthentication () {
      this.$store.dispatch(GITLAB.AUTH.RESET_AUTH)
    },
  }
}
</script>

<style lang="scss" scoped>
  .card-body {
    background-color: #fff;
  }
</style>
