/* popup specific styles go in this file */
.popup-container {
  .list-group {
    .list-group-item {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  .v-select {
    font-size: .75em;

    #vs1__listbox {
      max-height: 210px;
    }

    .vs__selected {
      width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      white-space: nowrap;
    }
  }
}
