<template>
  <form
    class="text-center"
    @submit.prevent.stop="submitForm"
  >
    <div class="mb-3">
      <input
        v-model="form.domain"
        class="form-control form-control-sm"
        type="text"
        placeholder="Domain e.g. https://gitlab.com"
      >
      <div
        v-if="null !== helpText.domain"
        class="help-text"
        v-text="helpText.domain"
      />
    </div>
    <div class="mb-3">
      <div class="input-group input-group-sm">
        <input
          v-model="form.token"
          class="form-control"
          type="text"
          placeholder="Personal Access Token"
        >
        <span
          class="input-group-text fa fa-info-circle"
          title="These scopes are required: read_api and read_repository"
        />
      </div>
      <div
        v-if="null !== helpText.token"
        class="help-text"
        v-text="helpText.token"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-sm"
    >
      Verify
    </button>
  </form>
</template>

<script>
import { GITLAB, GUI } from '../store/action-types';

export default {
  data () {
    return {
      form: {
        domain: 'https://gitlab.com',
        token: null,
      },
      helpText: {
        domain: null,
        token: null,
      },
    };
  },
  methods: {
    async submitForm () {
      this.showLoading();
      if (await this.validate()) {
        this.form.domain = this.form.domain.replace(/\/\s*$/, '');
        this.$store.dispatch(GITLAB.AUTH.SET_AUTH, {
          domain: this.form.domain,
          token: this.form.token,
        }).then(() => {
          this.$emit('submit');
          this.hideLoading();
        });
      } else {
        this.hideLoading();
      }
    },
    async validate () {
      let valid = true;
      if (null === this.form.domain || this.form.domain.length === 0) {
        this.helpText.domain = 'GitLab Domain is required.';
        valid = false;
      } else if (!this.validURL(this.form.domain)) {
        this.helpText.domain = 'Please enter a valid GitLab domain.';
        valid = false;
      } else {
        this.helpText.domain = null;
      }

      if (null === this.form.token || this.form.token.length === 0) {
        this.helpText.token = 'Personal Access Token is required.';
        valid = false;
      } else {
        this.helpText.token = null;
      }

      if (true === valid) {
        const isCredentialValid = await this.$store.dispatch(GITLAB.AUTH.VALIDATE_AUTH, {
          domain: this.form.domain,
          token: this.form.token,
        });
        if (false === isCredentialValid) {
          this.helpText.token = 'The provided credential is invalid.';
        } else {
          this.helpText.token = null;
        }

        return isCredentialValid;
      }

      return false;
    },
    validURL (str) {
      let pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
          '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
          '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
          '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
          '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
          '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
      return !!pattern.test(str);
    },
    showLoading () {
      this.$store.dispatch(GUI.LOADING.SHOW);
    },
    hideLoading () {
      this.$store.dispatch(GUI.LOADING.HIDE);
    },
  },
};
</script>

<style scoped>
</style>
