<template>
  <div class="gitlab-stat-container">
    <ul class="list-group">
      <li class="list-group-item">
        <a
          :href="gitLabProjectPageUrl"
          target="_blank"
        >Projects</a>: <span
        class="badge badge-info"
        v-text="projects.length"
      />
      </li>
      <li class="list-group-item">
        <a
          :href="gitLabMergeRequestPageUrl"
          target="_blank"
        >All Open Merge Requests</a>: <span
        class="badge badge-info"
        v-text="mergeRequests.length"
      />
      </li>
    </ul>
  </div>
</template>

<script>
import { GITLAB, GUI } from "../store/action-types";

export default {
  computed: {
    domain () {
      return this.$store.getters['gitlab/domain']
    },
    gitLabProjectPageUrl () {
      return this.domain + '/dashboard/projects'
    },
    gitLabMergeRequestPageUrl () {
      return this.domain + '/dashboard/merge_requests'
    },
    projects () {
      return this.$store.getters['gitlab/projects']
    },
    mergeRequests () {
      return this.$store.getters['gitlab/mergeRequests']
    }
  },
  mounted () {
    this.loadProjects()
    this.loadMergeRequests()
  },
  methods: {
    async loadProjects () {
      this.showLoading()
      try {
        await this.$store.dispatch(GITLAB.PROJECT.LOAD_PROJECTS)
      } catch (e) {
        await this.$store.dispatch(GITLAB.AUTH.RESET_AUTH)
      }
      this.hideLoading()
    },
    async loadMergeRequests () {
      this.showLoading()
      try {
        await this.$store.dispatch(GITLAB.MERGE_REQUEST.LOAD_MERGE_REQUESTS)
      } catch (e) {
        await this.$store.dispatch(GITLAB.AUTH.RESET_AUTH)
      }
      this.hideLoading()
    },
    showLoading () {
      this.$store.dispatch(GUI.LOADING.SHOW);
    },
    hideLoading () {
      this.$store.dispatch(GUI.LOADING.HIDE);
    }
  }
}
</script>

<style scoped>
.gitlab-stat-container {
  font-size: 0.8rem;
}
</style>
