<template>
  <div class="jira-stat-container text-left">
    <div>
      <div
        class="stat-title"
        @click.stop="toggleDetailedView('branches')"
      >
        <i
          v-if="!hasInit || loadingStatus.branches"
          class="fa fa-spinner spinning"
        />
        <span
          v-else
          class="font-weight-bold"
          v-text="branches.length"
        />
        branch{{ branches.length !== 1 ? 'es' : '' }}
      </div>
      <div v-if="detailedView.branches">
        <ul class="list-container">
          <li
            v-for="branch in branches"
            :key="branch.id"
          >
            <a
              :href="branch.commit.web_url"
              target="_blank"
              v-text="branch.name"
            />
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="stat-title"
        @click.stop="toggleDetailedView('commits')"
      >
        <i
          v-if="!hasInit || loadingStatus.commits"
          class="fa fa-spinner spinning"
        />
        <span
          v-else
          class="font-weight-bold"
          v-text="commits.length"
        />
        commit{{ commits.length !== 1 ? 's' : '' }}
      </div>
      <div v-if="detailedView.commits">
        <ul class="list-container">
          <li
            v-for="commit in commits"
            :key="commit.id"
          >
            <a
              :href="commit.web_url"
              target="_blank"
              v-text="commit.title"
            />
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="stat-title"
        @click.stop="toggleDetailedView('mergeRequests')"
      >
        <i
          v-if="!hasInit || loadingStatus.mergeRequests"
          class="fa fa-spinner spinning"
        />
        <span
          v-else
          class="font-weight-bold"
          v-text="mergeRequests.length"
        />
        merge request{{ mergeRequests.length !== 1 ? 's' : '' }}
      </div>
      <div v-if="detailedView.mergeRequests">
        <ul class="list-container">
          <li
            v-for="mergeRequest in mergeRequests"
            :key="mergeRequest.id"
          >
            <a
              :href="mergeRequest.web_url"
              target="_blank"
              class="merge-request-title"
            >
              <i
                v-if="mergeRequest.merge_status === 'can_be_merged'"
                class="fa fa-check-circle text-success can-be-merged"
              />
              <div
                class="text-primary"
                v-text="mergeRequest.title"
              />
              <div class="text-muted">
                {{ mergeRequest.source_branch }}
                <i class="fa fa-arrow-right" />
                {{ mergeRequest.target_branch }}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { GITLAB } from "../store/action-types";

export default {
  props: {
    project: {
      type: Object,
      default: null
    },
    jiraIssueNumber: {
      type: String,
      default: null
    },
  },
  data () {
    return {
      hasInit: false,
      detailedView: {
        branches: false,
        commits: false,
        mergeRequests: false,
      }
    }
  },
  computed: {
    branches () {
      return this.$store.getters['gitlab/jiraStat/branches'] ?? []
    },
    commits () {
      return this.$store.getters['gitlab/jiraStat/commits'] ?? []
    },
    mergeRequests () {
      return this.$store.getters['gitlab/jiraStat/mergeRequests'] ?? []
    },
    loadingStatus () {
      return this.$store.getters['gitlab/jiraStat/loading'] ?? {}
    }
  },
  watch: {
    project () {
      this.setProject()
    },
    jiraIssueNumber () {
      this.setJiraIssueNumber()
    }
  },
  mounted () {
    this.initStore()
  },
  methods: {
    async initStore () {
      await this.$store.dispatch(GITLAB.JIRA_STAT.INIT, {
        project: this.project,
        jiraIssueNumber: this.jiraIssueNumber
      })
      this.hasInit = true;
    },
    setJiraIssueNumber () {
      this.$store.dispatch(GITLAB.JIRA_STAT.SET_JIRA_ISSUE_NUMBER, {
        jiraIssueNumber: this.jiraIssueNumber
      })
    },
    setProject () {
      this.$store.dispatch(GITLAB.JIRA_STAT.SET_PROJECT, {
        project: this.project
      })
    },
    toggleDetailedView (session) {
      this.detailedView[session] = !this.detailedView[session]
    },
  }
}
</script>

<style lang="scss" scoped>
.jira-stat-container {
  font-size: .8rem;

  a {
    outline: none;
    text-decoration: none;
  }

  .stat-title {
    cursor: pointer;
  }

  .list-container {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;

    li {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .text-muted {
      font-size: .7rem;
    }
  }

  .merge-request-title {
    position: relative;

    .can-be-merged {
      position: absolute;
      left: -15px;
      top: 4px;
    }
  }
}
</style>
