<template>
  <div class="jira-actions-container">
    <div>
      Jira Issue: <span
        class="font-weight-bold"
        v-text="jiraIssueNumber"
      />
    </div>
    <div class="mt-2">
      <div class="font-weight-bold">
        Development
      </div>
      <a
        :href="newBranchUrl"
        target="_blank"
        class="mt-1"
      ><i class="fa fa-code-fork" /> Create New Branch</a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      default: null
    },
    jiraIssueNumber: {
      type: String,
      default: null
    },
  },
  computed: {
    newBranchUrl () {
      if (null !== this.project && null !== this.jiraIssueNumber) {
        let url = new URL(this.project.web_url + '/-/branches/new')
        url.searchParams.set('branch_name', this.jiraIssueNumber)

        return url.toString()
      }

      return null
    },
    branches () {
      return this.$store.getters['gitlab/branches']
    }
  },
}
</script>

<style scoped lang="scss">
  .jira-actions-container {
    font-size: .8rem;
    text-align: left;
  }
</style>
