<template>
  <div
    v-if="value"
    class="spinner"
  >
    <div class="background" />
    <img
      src="../icons/icon_25.png"
      alt="logo"
      class="icon"
    >
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    }
  }
}
</script>

<style scoped lang="scss">
  @keyframes rotate-s-loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spinner {
    z-index: 10000;

    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }

    .icon {
      animation: rotate-s-loader 1s linear infinite;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -12.5px;
      margin-top: -12.5px;
    }
  }
</style>
