<template>
  <div class="logo-container">
    <div>
      <img
        src="../icons/icon_128.png"
        alt="logo"
        width="60"
      >
    </div>
    <h4>Jira GitLab Integration</h4>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
  .logo-container {
    text-align: center;
    display: block;
  }

  h4 {
    margin-top: 0;
  }
</style>
