<template>
  <div class="project-stat-container">
    <div class="project-details">
      <a
        :href="mergeRequestsPageUrl"
        target="_blank"
      >Open Merge Requests</a>: <span
        class="badge badge-info"
        v-text="mergeRequests.length"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      default: null
    }
  },
  computed: {
    allMergeRequests () {
      return this.$store.getters['gitlab/mergeRequests']
    },
    mergeRequests () {
      return this.allMergeRequests.filter(mergeRequest => this.project.id === mergeRequest.project_id)
    },
    mergeRequestsPageUrl () {
      return this.project.web_url + '/-/merge_requests'
    }
  }
}
</script>

<style lang="scss" scoped>
  .project-stat-container {
    text-align: left;

    .title {
      font-size: 1rem;
      color: gray;
    }

    .project-details {
      font-size: .8rem;
    }
  }
</style>
